[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crowd-kit = {editable = true, path = ".", extras = ["learning"]}

[dev-packages]
mypy = "*"
pytest = "*"
twine = "*"
flake8 = "*"
build = "*"
codecov = "*"
notebook = "*"
