[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crowd-kit = {editable = true, path = ".", extras = ["learning"]}

[dev-packages]
crowd-kit = {editable = true, path = ".", extras = ["dev", "docs", "learning"]}
