name: Tests

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.8", "3.9", "3.10", "3.11" ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install pipenv==2023.7.9
          pipenv install --python "${{ matrix.python-version }}" --dev --system --skip-lock
      - name: Lint with Mypy
        run: mypy crowdkit tests
      - name: Lint with flake8
        run: flake8
      - name: Test with pytest
        run: coverage run --source crowdkit -m pytest
      - name: Codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: codecov
        if: matrix.python-version == '3.8'
      - name: Build wheel
        run: python3 -m build --sdist --wheel .
      - name: Syntax Check Jupyter
        run: |
          jupyter nbconvert examples/*.ipynb --to python
          python3 -m compileall examples
      - name: Run Jupyter
        run: jupyter nbconvert --to html --TagRemovePreprocessor.remove_cell_tags pip --execute examples/Readability-Pairwise.ipynb examples/TlkAgg-Categorical.ipynb
      - name: Upload Jupyter
        uses: actions/upload-artifact@v3
        with:
          name: crowd-kit-jupyter
          path: examples/*.html
      - name: Validate CITATION.cff
        uses: citation-file-format/cffconvert-github-action@2.0.0
        with:
          args: "--validate"
        if: matrix.python-version == '3.8'
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Set up YFM
        run: |
          npm install @doc-tools/docs@1.31.1 --location=global
      - name: Generate markdowns
        run: ./misc/make_markdowns.py --module-root crowdkit --src-root crowdkit --output-dir docs/en/crowd-kit/reference --described-objects misc/described_objects_crowdkit.py
      - name: Checkout docs repository
        uses: actions/checkout@v3
        with:
          repository: 'Toloka/docs'
          path: 'docs-repo'
      - name: Update docs repository
        run: |
          rm -rf docs-repo/en/crowd-kit/reference/*.md
          rsync -a docs/ docs-repo/
      - name: Generate docs
        run: |
          cd docs-repo
          yfm -c .yfm -i . -o /tmp/crowd-kit-docs
